html/app/.venv
wordpress
library/account/vendor
library/account/config.php
gallery/assets/image/*
!gallery/assets/image/.gitkeep
gallery/assets/video/*
!gallery/assets/video/.gitkeep
webdav/*
!webdav/.gitkeep
library/logs/*
!library/logs/.gitkeep
gallery/logs/*
!gallery/logs/.gitkeep
html/logs/*
!html/logs/.gitkeep
crypto/logs/*
!crypto/logs/.gitkeep
